<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="/hangman_style.css" >
</head>
<body>
	<div id="image">
		<img src="images/<%= turns %>.jpeg" alt="Turns Left">
	</div>
	<p>
		<%= hidden_answer.join(" ") %>
	</p>
	<% if guess != answer && turns > 0 %>
	<form>
		<label>Choose a letter:</label>
		<input type="text" name="letter" size="1" id="input" autofocus="autofocus">
		<input type="submit" value="I choose YOU!" id="button">
	</form>
	<% end %>
	<% if guess != answer && turns > 0 %>
	<p>Incorrect letters: <%= incorrect %></p>
	<% end %>
	<p><%= message %></p>
	<% if guess == answer || turns == 0 %>
	<p>Check out its meaning at <a target="_blank" href="https://en.oxforddictionaries.com/definition/<%= answer%>">Oxford Dictionaries</a>.</p>
	<% else %>
	<p><%= turns %> turns left</p> 
	<% end %>
	<a href="/" id="link">Back to index</a>
</body>
</html>